{% extends 'admin/base.html' %}
{% set active_page = 'Register Visitor' %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form id="register-visitor" novalidate>
          {{ form.csrf_token }}
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">
                  qr_code
                </i>
              </div>
              <h4 class="card-title">Register Visitor</h4>
            </div>
            <div class="card-body">
              <div class="form-group bmd-form-group">
                {{form.guest_name.label(class="bmd-label-floating")}}
                {{form.guest_name(class="form-control")}}
              </div>
              <div class="form-group bmd-form-group">
                {{form.guest_email.label(class="bmd-label-floating")}}
                {{form.guest_email(class="form-control")}}
              </div>
              <div class="form-group bmd-form-group">
                {{form.guest_id.label(class="bmd-label-floating")}}
                {{form.guest_id(class="form-control")}}
              </div>
              <div class="form-group bmd-form-group">
                {{form.guest_car_no.label(class="bmd-label-floating")}}
                {{form.guest_car_no(class="form-control")}}
              </div>
              <div class="form-group bmd-form-group">
                {{form.no_of_guests.label(class="bmd-label-floating")}}
                {{form.no_of_guests(class="form-control")}}
              </div>
              {{ form.current_user_id() }}
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">Register visitor</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jquery_content %}
<script>
  function getFormData($form) {
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};
    $.map(unindexed_array, function (n, i) {
      indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
  }

  $("#register-visitor").submit(function (e) {
    e.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    var is_valid = form.valid();
    if (is_valid) {
      var values = getFormData(form);
      var csrftoken = values.csrf_token

      $.ajax({
        type: "POST",
        url: '/api/register-visitor',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(values),
        beforeSend: function (xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
        },
        success: function (data) {
          document.getElementById("register-visitor").reset();
          var success = '<div class="alert alert-success" role="alert">Visitor record has been saved! Email will be sent to Visitor</div>';
          $('#register-visitor').prepend(success);
          setTimeout(function () {
            $('#register-visitor > .alert-success').remove();
          }, 5000);
        },
        error: function (request, error) {
          const response = request.responseJSON
          $('#register-visitor > .alert-danger').remove();
          var error = `<div class="alert alert-danger" role="alert">${response.message}</div>`;
          $('#register-visitor').prepend(error);
          setTimeout(function () {
            $('#register-visitor > .alert-danger').remove();
          }, 5000);
        },
      });
    }
  });
</script>
{% endblock %}